.marcos-picture {
  width: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}
.new-york {
  width: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

div h2 p {
  width: 50%;
}

div h2 {
  text-align: center;
}

.about-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

p {
  color: yellow;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

h2 {
  font-family: "Press Start 2P", cursive;
  padding-top: 2em;
}
