.about-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4rem 50px;
  min-height: 60vh;
  background-color: #f3f3f3;
  color: #252525;
}

.about-me,
.where-im-from {
  max-width: 600px;
}

.about-me h2,
.where-im-from h2 {
  font-family: "Poppins", sans-serif;
  margin: 1em 0;
  font-size: 40px;
  text-align: center;
  color: #252525;
}

.marcos-picture {
  width: 30%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  filter: grayscale(100%);
}

.new-york {
  width: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

.about-page p {
  color: #252525;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}
