.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 50px;
  color: #252525;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
  border-top: 1px solid #252525;
}

.footer a {
  color: #252525;
  transition: 0.3s ease-in-out;
}

.footer a:hover {
  border-bottom: 1px solid #252525;
}
