@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background-image: url(./assets/Star\ wars\ space.jpeg);
  color: white;
  background-image: repeat;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}
